*,
*:after,
*:before {
  box-sizing: inherit;
  -webkit-user-drag: none;
  user-select: none;
  cursor: none;
}

::-webkit-scrollbar {
	display: block !important;
	width: 18px !important;
}
::-webkit-scrollbar-track:vertical {
	background-color: darken(#e04e39, 15%);
	border: 12px solid transparent;
	background-clip: content-box;
}
::-webkit-scrollbar-thumb {
	@apply bg-white;
}

html,
body {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

section {
  @apply bg-orange border-white border-l-8 border-r-8 bg-blend-multiply;
  width: 90%;
  margin: 0 auto;
  height: $appHeight;
  background-image: url("~@/assets/images/page_bg@2x.jpg");
  &.white {
    @apply bg-white border-orange;
		background-image: none;    
  }
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

h1 {
  @apply text-white;
	font-family: "Illini";
	font-size: 450px;
	+ h2 {
    @apply text-white;
		font-family: "Frutiger Bold Italic";
		font-size: 120px;
	}
}

.content {
  @apply uppercase;
	width: 85%;
	height: 100%;
	margin: 0 auto;
}
.centered {
	width: 85%;
	margin: 0 auto;
}

.underlined {
	border-bottom: 5px solid #fff;
}

.scroller-wrap {
	height: 1850px;
	margin-top: 100px;
	padding-bottom: 50px;
	overflow-y: auto;
	-webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 0) 100%);
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 1%, rgba(0, 0, 0, 0.75) 99%, rgba(0, 0, 0, 0) 100%);
	.scroller {
		padding: 25px 50px 0 0;
	}
}

.player {
  @apply text-blue;
	display: flex;
	font-family: 'Frutiger Black';
	font-size: 75px;
	height: 165px;
	transition: all 0.2s linear;

	&.active {
		@apply bg-blue;
		color: #fff;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.number,
	.name,
	.position {
		line-height: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.number {
		width: 10%;
		justify-content: center;
	}
	.name {
		width: 70%;
		justify-content: flex-start;
	}
	.position {
		width: 20%;
		text-align: right;
		font-size: 30px;
		justify-content: flex-end;
	}
}

//page transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms linear;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}

.fade-leave-to {
  opacity: 0;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}