<template>
  <section>
    <div v-if="!loading" class="content">
      <header-text />
      <div class="scroller-wrap">
        <div class="scroller">
          <div ref="player" class="player" v-for="(player, idx) in awardWinners" :key="player.id" @click="toProfile(idx, player.player.id)">
            <div class="number">{{player.player.player_number}}</div>
            <div class="name">{{player.player.full_name}}</div>
            <div class="position">{{player.player.position}}</div>
          </div>
        </div>
      </div>
      <footer-nav />
      <video-modal :showModal="showModal" />
    </div>
  </section>
</template>

<script>
import HeaderText from "../components/HeaderText";
import FooterNav from "../components/Footer";
import { mapState } from "vuex";
import { toProfile } from "../mixins/toProfile";

export default {
  name: "Category",
  computed: mapState({
    loading: state => state.api.loading, 
    awardWinners: state => state.api.awardWinners, 
    showModal: state => state.api.showModal
  }),
  mounted() {
    const category = this.$store.getters.activeSection(this.$router.currentRoute.path);
    //this.$socket.sendObj({ category });
  },
  components: { HeaderText, FooterNav },
  mixins: [toProfile]
}
</script>