<template>
  <section>
    <div class="content">
      <h1 class="leading-none">Illini</h1>
      <h2>Football</h2>
      <p class="text-blue underlined">Select a category below</p>
      <div
        ref="category"
        class="category"
        v-for="(category, idx) in categories"
        :key="idx"
        @click="navigate(category, idx)"
      >
        <h3 class="text-white leading-none">{{category.name}}</h3>
      </div>
      <footer-nav />
      <video-modal :showModal="showModal" />      
    </div>
  </section>
</template>

<script>
import FooterNav from "../components/Footer";
import { mapState } from "vuex";

export default {
  name: "Home",
  computed: mapState({
    categories: state => state.api.categories,
    showModal: state => state.api.showModal
  }),
  methods: {
    navigate(category, idx) {
      if (!this.showModal) {
        this.$refs.category[idx].classList.add("active");
        setTimeout(() => {
          this.$socket.sendObj({ category });
          this.$router.push(`/${category.path}`);
        }, 500);
      }
    }    
  },
  components: { FooterNav }
};
</script>

<style lang="scss" scoped>
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 550px;
  transition: opacity 0.15s linear;
  &.fade {
    opacity: 0.1;
  }
  h1 {
    font-size: 450px;
  }
  p {
    font-family: "Frutiger Bold Italic";
    font-size: 60px;
    width: 100%;
    text-align: center;
    margin-top: 150px;
    padding-bottom: 50px;
  }
}
.category {
  @apply border-b-4 border-white;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 160px 0;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 140%;
    background-color: rgba(255, 255, 255, 0.35);
    transform: rotate(-45deg) translate(0px, -360px);
    transition: transform 0.25s linear;
  }
  &.active {
    &::after {
      transform: rotate(-45deg) translate(0px, -2550px);
    }
    h3 {
      @apply text-white;
      transform: scale(1.5);
    }
  }
  h3 {
    @apply text-blue;
    font-family: "Frutiger Black Italic";
    font-size: 120px;
    transition: all 0.3s linear;
  }
}
img {
  padding-top: 100px;
}
</style>