<template>
  <section class="page white">
    <header-text />
    <div
      v-if="player && player.playerInfo.photo"
      class="profile-photo"
      :style="{'background-image': 'url(' + player.playerInfo.photo + ')'}"
    >
    </div>
    <div
      v-if="player && !player.playerInfo.photo"
      class="profile-photo"
      :style="{'background-image': 'url(' + fallbackPhoto + ')'}"
    ></div>
    <div class="player-name">
      <p class="leading-none">{{player.playerInfo.player_number}}</p>
      <svg
        v-if="player.playerInfo.video"
        width="125"
        height="125"
        viewBox="0 0 120 120"
        @click="playVideo()"
      >
        <circle cx="60" cy="60" r="50" />
        <polyline points="45,40 85,65 45,85" />
      </svg>
      <div class="name">
        <p>{{player.playerInfo.first_name}}</p>
        <p class="leading-none"
          :class="{shrink: player.playerInfo.last_name.length >= 10}"
        >{{player.playerInfo.last_name}}</p>
      </div>
    </div>
    <div class="centered player-details">
      <div>
        <p>Position</p>
        <p class="leading-none">{{player.playerInfo.position}}</p>
      </div>
      <div>
        <p>Hometown</p>
        <p class="leading-none">{{player.playerInfo.hometown}}</p>
      </div>
    </div>
    <div class="award-info-wrap centered">
      <div class="award-info">
        <p
          v-for="(award, idx) in player.awardInfo"
          :key="idx"
        >{{award.award_type.name}}, {{award.year}}</p>
      </div>
    </div>
    <profile-nav :prevPlayer="prevPlayer" :nextPlayer="nextPlayer" />
    <footer-nav />
    <video-modal :showModal="showModal" />
  </section>
</template>

<script>
import HeaderText from "../components/HeaderText";
import ProfileNav from "../components/ProfileNav";
import FooterNav from "../components/Footer";
import { mapState } from "vuex";

export default {
  name: "profile-page",
  mounted() {
    this.navHandler();
  },
  data() {
    return {
      index: null,
      prevPlayer: null,
      nextPlayer: null
    };
  },
  watch: {
    player: {
      handler: "navHandler"
    }
  },
  computed: {
    ...mapState({
      player: state => state.api.profilePlayer,
      awardWinners: state => state.api.awardWinners,
      showModal: state => state.api.showModal
    }),
    fallbackPhoto() {
      return "https://illinois-basketball.s3-us-west-2.amazonaws.com/football/fallback_photos/fb-profile-fallback.jpg";
    }
  },
  beforeRouteUpdate(to, from, next) {
    this.$store.dispatch("setProfilePlayer", to.params.id).then(() => {
      this.$socket.sendObj({ id: to.params.id });
      next();
    });
  },
  methods: {
    playVideo() {
      this.$socket.sendObj({ video: this.player.playerInfo.video });
    },
    navHandler() {
      this.awardWinners.forEach((winner, idx) => {
        if (winner.player.id === this.player.playerInfo.id) {
          this.index = idx;
        }
      });

      if (this.index === 0) {
        this.prevPlayer = this.awardWinners[this.awardWinners.length - 1];
        this.nextPlayer = this.awardWinners[this.index + 1];
      } else if (this.index === this.awardWinners.length - 1) {
        this.prevPlayer = this.awardWinners[this.index - 1];
        this.nextPlayer = this.awardWinners[0];
      } else {
        this.prevPlayer = this.awardWinners[this.index - 1];
        this.nextPlayer = this.awardWinners[this.index + 1];
      }
    }
  },
  components: { HeaderText, ProfileNav, FooterNav }
};
</script>

<style lang="scss" scoped>
::-webkit-scrollbar-track:vertical {
  background-color: darken(#e04e39, 15%);
  border: 12px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb {
  @apply bg-blue;
}
.profile-photo {
  @apply bg-orange;
  height: 1300px;
  overflow: hidden;
  background-repeat: no-repeat;
  // background-size: contain;
  background-position: 50% 50%;
}
.player-name {
  position: relative;
  > p {
    @apply text-blue;
    position: absolute;
    top: -350px;
    left: 100px;
    font-family: "Illini";
    font-size: 500px;
    -webkit-text-stroke: 5px #fff;
  }
  > div {
    margin-top: 50px;
    padding: 0 150px;
  }
  svg {
    position: absolute;
    left: 130px;
    top: 190px;
    circle {
      fill: transparent;
      stroke: #13294b;
      stroke-width: 10px;
    }
    polyline {
      fill: #13294b;
    }
  }
}
.name {
  @apply flex flex-col items-end text-orange;
  p {
    text-transform: uppercase;
    &:first-of-type {
      font-family: "Frutiger Bold Italic";
      font-size: 120px;
    }
    &:last-of-type {
      font-family: "Frutiger Black Italic";
      font-size: 266px;
    }
    &.shrink {
      font-size: 200px;
    }
  }
}
.player-details {
  @apply border-b-4 border-gray;
  display: flex;
  margin-top: 50px;
  padding-bottom: 50px;
  div {
    margin-right: 250px;
    p {
      &:first-of-type {
        @apply text-gray;
        font-family: "Frutiger Roman";
        font-size: 48px;
        text-transform: uppercase;
        padding-bottom: 15px;
      }
      &:last-of-type {
        @apply text-blue;
        font-family: "Frutiger Black Italic";
        font-size: 72px;
      }
    }
  }
}
.award-info-wrap {
  @apply text-blue;
  height: 375px;
  margin-top: 75px;
  margin-bottom: 75px;
  padding-top: 25px;
  font-family: "Frutiger Italic";
  font-size: 64px;
  overflow-y: auto;
  p {
    padding-bottom: 25px;
  }
}
</style>
