<template>
  <section>
    <div v-if="!loading" class="content">
      <header-text />
      <div class="scroller-wrap">
        <div class="scroller">
          <div class="decade" v-for="(decade,idx) in decades" :key="idx">
            <h3>{{decade[decade.length - 1]}}<span>s</span></h3>
            <div class="years-box">
              <div class="years-box__box" v-for="(year, idx) in decade" :key="year" @click="navigate(year)">
                {{year}} <span v-if="idx != 4 && idx < decade.length - 1">&bull;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer-nav />
      <video-modal :showModal="showModal" />
    </div>    
  </section>
</template>

<script>
import HeaderText from "../components/HeaderText";
import FooterNav from "../components/Footer";
import { mapState } from "vuex";

export default {
  name: "Seasons",
  computed: mapState({
    loading: state => state.api.loading,
    decades: state => state.api.decades,
    showModal: state => state.api.showModal
  }),
  mounted() {
    const category = this.$store.getters.activeSection(this.$router.currentRoute.path);
    this.$socket.sendObj({ category });   
  },
  methods: {
    navigate(year) {
      if (!this.showModal) {
        this.$socket.sendObj({ year });
        this.$router.push(`/seasons/${year}`);
      }
    }
  },
  components: { HeaderText, FooterNav }
}
</script>

<style lang="scss" scoped>
.decade {
  margin-top: 100px;
  h3 {
    @apply text-blue;
    font-family: "Frutiger Black";
    font-size: 96px;
    margin-bottom: 15px;
    span {
      text-transform: lowercase;
    }
  }
  .years-box {
    @apply text-white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 40px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    &__box {
      font-family: "Frutiger Roman";
      font-size: 72px;
      width: 325px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      height: 100px;
      line-height: 1;
      span {
        display: inline-block;
        margin-left: 70px;
      }
    }
  }
}
</style>