<template>
  <section>
    <div class="content">
      <header-text />
      <div class="scroller-wrap">
        <div class="scroller">
          <div ref="player" class="player" v-for="(player, idx) in players" :key="idx" @click="toProfile(idx, player.player.id)">
            <div class="number">{{player.player.player_number}}</div>
            <div class="name">{{player.player.full_name}}</div>
            <div class="position">{{player.player.position}}</div>
          </div>
        </div>
      </div>
      <footer-nav />
      <video-modal :showModal="showModal" />
    </div>    
  </section>
</template>

<script>
import HeaderText from "../components/HeaderText";
import FooterNav from "../components/Footer";
import { toProfile } from "../mixins/toProfile";
import { mapState } from "vuex";

export default {
  name: "Season",
  computed: {
    ...mapState({
      awardWinners: state => state.api.awardWinners, 
      showModal: state => state.api.showModal
    }),
    players() {
      return this.awardWinners.filter(player => player.year === parseInt(this.$router.currentRoute.params.season));      
    }
  },
  mounted() {
    const year = parseInt(this.$router.currentRoute.params.season);
    this.$socket.sendObj({ season: year });
  },
  components: { HeaderText, FooterNav },
  mixins: [toProfile]
}
</script>