<template>
  <div id="data-loader" v-if="isOpen">
    <div class="table-wrapper">
      <table>
        <tr>
          <th>Endpoint</th>
          <th>URL</th>
          <th>Last Update</th>
          <th>Action</th>
        </tr>
        <tr v-for="(url, key) in endpoints" :key="key">
          <td>{{key}}</td>
          <td>{{url}}</td>
          <td>{{updates[key] | niceDate}}</td>
          <td>
            <a v-if="loading.indexOf(key) === -1" href="#" @click="loadEndpoint(url, key)">Refresh</a>
            <span v-if="loading.indexOf(key) > -1">Loading</span>
          </td>
        </tr>
      </table>
    </div>
    <textarea ref="log" v-model="logText"></textarea>
  </div>
</template>

<script>
import moment from "moment";

const endpoints = ["recruitingvideos", "awards"];

export default {
  name: "data-loader",
  filters: {
    niceDate(input) {
      if (!input) return "Never";
      return moment(input).format("L LTS");
    }
  },
  data() {
    return {
      endpoints: {},
      updates: {},
      loading: [],
      logText: "",
      isOpen: false,
      moment
    };
  },
  created() {
    document.addEventListener("keydown", e => {
      if (e.key === "l") this.isOpen = !this.isOpen;
    });

    if (!Object.keys(this.endpoints).length) {
      this.$http.get("https://illinois.dimin.io/api/football/v2/").then(res => {
        Object.keys(res.data).forEach((key, idx) => {
          if (endpoints.indexOf(key) !== -1) {
            this.endpoints[key] = res.data[key];
            this.loadEndpoint(this.endpoints[key], key)
          }
        });
      })
      .catch(error => {
        this.log(error);
      });
    }
  },
  methods: {
    log(msg) {
      this.logText += moment().format("HH:MM:SS");
      this.logText += " " + msg + "\n";
      if (this.$refs.log) {
        this.$refs.log.scrollTop = this.$refs.log.scrollHeight;
      }
    },
    loadEndpoint(baseUrl, key) {
      this.$store.commit("setLoading", true);
      this.loading.push(key);
      let results = [];

      const fetchData = url => {
        this.log("Loading: " + url);
        this.$http
          .get(url)
          .then(res => {
            this.log("Loaded: " + url);
            results = results.concat(res.data.results);
            if (res.data.next) fetchData(res.data.next);
            else {
              if (key === "recruitingvideos") {
                this.$store.commit(`set_${key}`, results);
              } else {
                const sorted = results.sort((a, b) => b.year - a.year);
                this.$store.commit(`set_${key}`, sorted);
                this.$store.commit("setLoading", false);
                this.isOpen = false;
              }              

              this.loading = this.loading.filter(obj => obj !== key);
              this.log("Stored Endpoint: " + key);
            }
          })
          .catch(error => {
            this.log(error);
            this.loading = this.loading.filter(obj => obj !== key);
          });
      };

      fetchData(baseUrl);
    }
  }
};
</script>

<style scoped>
#data-loader {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
  z-index: 9999;
  padding: 50px;
}
.table-wrapper {
  height: 600px;
  overflow-y: auto;
}
table {
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
}
td {
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
th {
  text-transform: uppercase;
  text-align-last: left;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #fff;
}
textarea {
  width: 80%;
  margin: 50px auto;
  display: block;
  height: 200px;
  font-family: monospace;
  background-color: #000;
  color: #fff;
  padding: 1em;
}
</style>
