<template>
  <footer :class="{'home': $router.currentRoute.path === '/'}">
    <div v-if="$router.currentRoute.path != '/'" class="btn" @click="goBack()">
      <p>Back</p>
    </div>
    <img v-if="!onProfilePage" src="~@/assets/images/i.svg" alt="I" v-touch:longtap="showVideoModal" />
    <img v-else src="~@/assets/images/i-orange.svg" alt="I" v-touch:longtap="showVideoModal" />
    <div v-if="showMainMenu" class="btn" @click="goMainMenu()">Main Menu</div>
  </footer>
</template>

<script>
export default {
  name: "footer-nav",
  data() {
    return {
      showModal: false
    };
  },
  computed: {
    showMainMenu() {
      return this.$router.currentRoute.name === "Season" || this.onProfilePage;
    },
    onProfilePage() {
      return this.$router.currentRoute.name === "Profile";
    }
  },
  methods: {
    showVideoModal() {
      this.$store.commit("setShowVideoModal", true);
    },
    goBack() {
      if (!this.showMainMenu) {
        this.$socket.sendObj({ toIndex: true });
      } else {
        this.$socket.sendObj({ back: true });
      }
      this.$router.go(-1);
    },
    goMainMenu() {
      this.$socket.sendObj({ toIndex: true });
      this.$router.push("/");
    }
  }
};
</script>

<style lang="scss" scoped>
footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  bottom: 120px;
  left: 50%;
  width: 75%;
  height: 230px;
  transform: translateX(-50%);
  &.home {
    border-top: none;
  }
  img {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  .btn {
    @apply bg-blue;
    padding: 25px 50px;
    color: #fff;
    font-family: "Frutiger Bold Italic";
    font-size: 42px;
  }
}
</style>
