<template>
  <header :class="{profile: onProfile}">
    <h1 class="leading-none">Illini</h1>
    <h2 class="leading-none" v-if="$router.currentRoute.params.season">
      {{$router.currentRoute.params.season}}
      {{section.name.substring(0, section.name.length - 1)}}
    </h2>
    <h2 v-else-if="onProfile">{{subText}}</h2>
    <h2 v-else>{{section.name}}</h2>
  </header>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "header-text",
  computed: {
    ...mapState({
      subText: state => state.api.profileText
    }),
    onProfile() {
      return this.$router.currentRoute.name === "Profile";
    },
    section() {
      return this.$store.getters.activeSection(this.$router.currentRoute.path);
    }
  }
};
</script>

<style lang="scss" scoped>
header {
  @apply border-b-4 border-white;
  display: flex;
  flex-direction: column;
  padding: 550px 0 200px;
  text-align: center;
  h1 {
    font-size: 450px;
  }
  &.profile {
    padding: 125px 0 50px;
    h1,
    h2 {
      @apply text-blue;
      text-transform: uppercase;
    }
    h1 {
      font-size: 300px;
    }
  }
}
</style>
