<template>
  <div v-if="loading" class="loading">
    <svg width="474" height="686" viewBox="0 0 474 686">
      <polygon
        points="473.5 0.5 0.5 0.5 0.5 184.5 107.5 184.5 107.5 502.5 0.5 502.5 0.5 685.5 473.5 685.5 473.5 502.5 366.5 502.5 366.5 184.5 473.5 184.5 473.5 0.5"
      />
    </svg>
    <p>L o a d i n g</p>
  </div>
</template>

<script>
export default {
  name: "loader",
  props: ["loading"]
};
</script>

<style lang="scss" scoped>
.loading {
  @apply bg-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  height: $appHeight;
  width: 100%;
  transform: translateX(-50%);
  font-size: 100px;
  font-family: "Illini Outline";
  z-index: 9999;
  svg {
    margin-bottom: 25px;
    polygon {
      fill: none;
      stroke: #fff;
      stroke-width: 5px;
      animation: ioutline 1.75s linear infinite alternate;
    }
  }
  p {
    @apply text-orange;
    animation: flicker 2s linear infinite;
  }
}
</style>
