<template>
  <div class="centered">
    <router-link v-if="prevPlayer" :to="`/profile/${prevPlayer.player.id}`">
      <img src="~@/assets/images/arrow.svg" />
      <span>{{prevPlayer.player.full_name}}</span>
    </router-link>
    <router-link v-if="nextPlayer" :to="`/profile/${nextPlayer.player.id}`">
      <span>{{nextPlayer.player.full_name}}</span>
      <img class="flip" src="~@/assets/images/arrow.svg" />
    </router-link>
  </div>
</template>

<script>
export default {
  name: "profile-nav",
  props: ["prevPlayer", "nextPlayer"]
};
</script>

<style lang="scss" scoped>
.centered {
  @apply border-b-4 border-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 100px;
  padding-bottom: 50px;
  z-index: 2;
}
.flip {
  transform: rotate(180deg);
}
a {
  @apply text-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Frutiger Bold";
  font-size: 48px;
  &:first-of-type {
    img {
      margin-right: 15px;
    }
  }
  &:last-of-type {
    img {
      margin-left: 15px;
    }
  }
  span {
    position: relative;
    top: 2px;
  }
}
</style>
