<template>
  <div class="video-modal" :class="{active: showModal}">
    <div class="videos-scroller">
      <p v-for="video in recruitingVideos" :key="video.id" @click="playVideo(video)">{{video.name}}</p>
    </div>
    <div class="close" @click="closeVideoModal()">
      <p>Close</p>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "video-modal",
  props: ["showModal"],
  computed: mapState({
    recruitingVideos: state => state.api.recruitingVideos
  }),
  methods: {
    playVideo(video) {
      this.$socket.sendObj({ video });
      this.closeVideoModal();
    },
    closeVideoModal() {
      this.$store.commit("setShowVideoModal", false);
    }
  }
};
</script>

<style lang="scss" scoped>
.video-modal {
    position: absolute;
    left: 50%;
    top: 80%;
    width: 800px;
    transform: translate(-50%, -50%);
    padding: 25px;
    opacity: 0;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.35);
    z-index: -1;
    transition: all 0.2s ease-out;
    &.active {
        opacity: 1;
        transform: translate(-50%, -200%);
        z-index: 9999;
    }
    .videos-scroller {
        overflow-y: auto;
        p {
            @apply border-b border-gray;
            font-family: "Frutiger Bold";
            font-size: 60px;
            padding: 50px;
            text-align: center;
        }
    }
    .close {
        @apply bg-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        color: #fff;
        p {
            font-family: "Frutiger Bold";
            font-size: 36px;
        }
    }
}
</style>
