<template>
  <div id="app" :style="appStyle">
    <transition name="fade">
      <router-view :key="$route.fullPath" />
    </transition>
    <version v-bind:persist="false" />
    <idle :time="5" @timeout="sendRestartMsg()" />
    <data-loader />
    <loader :loading="loading" />
  </div>
</template>

<script>
import DataLoader from "./components/DataLoader";
import Loader from "./components/Loader";
import settings from "electron-settings";
import Version from "@dimensional-innovations/vue-electron-version";
import Idle from "@dimensional-innovations/vue-electron-idle";
import { mixin as VueTimers } from "vue-timers";
import { mapState } from "vuex";
import axios from "axios";

export default {
  name: "App",

  components: {
    Idle,
    Version,
    DataLoader,
    Loader
  },

  data() {
    return {
      startUpTime: Date.now(),
      lastModified: settings.getSync("config.lastModified"),
      tickIndex: 0,
      maxCountPerTick: 160,
      remainderShown: null
    }
  },

  computed: {
    ...mapState({
      loading: state => state.api.loading,
      groupedPlayers: state => state.api.groupedPlayers,
      activeLetterWinnerDecade: state => state.api.projector.activeLetterWinnerDecade,
      activeCycleAward: state => state.api.projector.activeCycleAward
    }),
    activeCycleAwardPlayers() {
      return this.groupedPlayers[this.activeCycleAward];
    },
    appStyle() {
      return {
        width: `${settings.getSync("config.appWidth")}px`,
        height: `${settings.getSync("config.appHeight")}px`,
        overflow: "hidden"
      };
    }
  },

  mounted() {
    document.addEventListener("keydown", e => {
      if (e.key === "S") {
        this.$router.push({ name: "Settings" });
      }
    });

    if (!this.lastModified) {
      this.getLastModified().then(result => {
        settings.setSync("config.lastModified", result);
      });
    }
  },

  methods: {
    tick() {
      if (this.loading) return;
  
      let decadeIdx;

      if (this.remainderShown) {
        if (this.activeCycleAward === "letter_winners") {
          decadeIdx = Object.keys(this.activeCycleAwardPlayers).indexOf(this.activeLetterWinnerDecade);
          if (decadeIdx === Object.keys(this.activeCycleAwardPlayers).length - 1) {
            this.updateActiveAward();
          } else {
            this.updateLetterWinnerDecade(decadeIdx);
          }
        } else {
          this.updateActiveAward();
        }
      }
      
      const playersLength = this.activeCycleAward === "letter_winners" ? this.activeCycleAwardPlayers[this.activeLetterWinnerDecade].length : this.activeCycleAwardPlayers.length;

      const leftSliceStart = this.tickIndex * (this.maxCountPerTick / 2); //0 --- 160
      const leftSliceEnd = (this.tickIndex * (this.maxCountPerTick / 2)) + this.maxCountPerTick / 2; //80 --- 240
      const rightSliceStart = (this.tickIndex + 1) * (this.maxCountPerTick / 2); //80 --- 240
      const rightSliceEnd = (this.tickIndex + 1) * (this.maxCountPerTick / 2) + this.maxCountPerTick / 2; //160 --- 320

      if (leftSliceEnd > playersLength || rightSliceEnd > playersLength) {
        this.remainderShown = true;
      } else {
        this.tickIndex += 2;
      }

      this.$socket.sendObj({ 
        gridCycle: true, 
        tickIndex: this.tickIndex, 
        award: this.activeCycleAward, 
        decade: parseInt(this.activeLetterWinnerDecade),
        slices: { leftSliceStart, leftSliceEnd, rightSliceStart, rightSliceEnd }
      });
    },
    updateActiveAward() {
      this.$store.commit("updateCycleAward");
      this.tickIndex = 0;
      this.remainderShown = null;
    },
    updateLetterWinnerDecade(decadeIdx) {
      this.$store.commit("setCycleLetterWinnerDecade", Object.keys(this.activeCycleAwardPlayers)[decadeIdx += 1]);
      this.tickIndex = 0;
      this.remainderShown = null;
    },
    async sendRestartMsg() {
      this.getLastModified().then(result => {
        if (result === this.lastModified) {
          this.$socket.sendObj({ toIndex: true });
          this.$nextTick(() => this.$router.push("/"));
        } else {
          settings.setSync("config.lastModified", result);
          this.$socket.sendObj({ timeout: true });
          this.$nextTick(() => window.location.replace('index.html'));
        }
      });
    },
    getLastModified() {
      return new Promise((resolve, reject) => {
        let result = axios.get("http://di-illinois.herokuapp.com/api/football/v2/players/?ordering=-modified").then(response => {
          return response.data.results[0].modified;
        });
        resolve(result);    
      });
    }
  },

  timers: {
    tick: { time: 10000, autostart: true, repeat: true, immediate: false }
  },

  mixins: [VueTimers]
};
</script>

<style lang="scss">
@import "@/assets/scss/main";
#app {
  @apply bg-blue;
}
</style>
